@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxygen', sans-serif;
}

body {
    background: rgba(23, 23, 23, 1);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 12.5%;
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.navbar a {
    position: relative;
    font-size: 16px;
    color: rgba(255, 254, 254, 1);
    text-decoration: none;
    font-weight: 500;
    margin-right: 30px;

}

.navbar a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 2px;
    background: rgba(161, 254, 107, 1);
    border-radius: 5px;
    transform: translateY(10px);
    opacity: 0;
    transition: .5s;
}

.navbar a:hover::after {
    transform: translateY(0);
    opacity: 1;
}

.login-signup a {
    position: relative;
    font-size: 16px;
    color: rgba(255, 254, 254, 1);
    text-decoration: none;
    font-weight: 500;
    margin-right: 30px;

}

.login-signup a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 2px;
    background: rgba(161, 254, 107, 1);
    border-radius: 5px;
    transform: translateY(10px);
    opacity: 0;
    transition: .5s;
}

.login-signup a:hover::after {
    transform: translateY(0);
    opacity: 1;
}

.row-line {
    position: absolute;
    top: 25%;
    left: 0;
    background: rgba(161, 254, 107, 1);
    width: 15%;
    height: 1%;
}

.register-text {
    position: absolute;
    top: -88%;
    left: 150%;
    width: 200%;
    height: 10%;
    color: rgba(161, 254, 107, 1);
    font-size: 10px;
}

.signup-text {
    position: absolute;
    top: 30%;
    left: 22%;
    width: 40%;
    height: 10%;
    color: rgba(255, 254, 254, 1);
    font-size: 40px;
}

.logreg-box .form-box {
    position: absolute;
    top: 30%;
    left: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    color: rgba(255, 254, 254, 1);
    font-size: 30px;
}

.login-box .form-box .register {
    transform: translateX(430px);
}

.form-box .input-box {
    position: relative;
    width: 340px;
    height: 45px;
    margin: 50px 0;
}

.input-box input {
    padding: 5px;
    width: 100%;
    height: 100%;
    color: #e4e4e4;
    background: transparent;
    border: 2px solid rgba(43, 43, 43, 1);
    border-radius: 4px;
    background-color: rgba(43, 43, 43, 1);
    font-size: 15px;
}

.input-box label {
    position: absolute;
    top: -30%;
    left: 0;
    transform: translateY(-50%);
    font-size: 20px;
}

.form-box .terms-conditions {
    font-size: 14.5px;
    font-weight: 500;
    margin: -15px 0 15px;
}

.terms-conditions label input {
    accent-color: #e4e4e4;
    margin-right: 3px;
}


.btn {
    width: 40%;
    height: 45px;
    background: rgba(161, 254, 107, 1);
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    color: rgba(23, 23, 23, 1);
    font-weight: 500;
    box-shadow: 0 0 10px rgba(23, 23, 23, 1);
}

.form-box .login-register {
    font-size: 14.5px;
    font-weight: 500;
    text-align: center;
    margin-top: 25px;
}

.login-register p a {
    color: rgba(161, 254, 107, 1);
    font-weight: 600;
    text-decoration: none;
}