@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxygen', sans-serif;
}

body {
    background: rgba(23, 23, 23, 1);
}

.search-bar {
    width: 250px;
    height: 45px;
    background: transparent;
    /* border: 2px solid black; */
    border-radius: 6px;
    display: flex;
    align-items: center;
}

.search-bar input {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: rgba(255, 254, 254, 1);
    padding-left: 10px;
}

.search-bar input::placeholder {
    color: rgba(255, 254, 254, 1);
}

.search-bar button {
    width: 40px;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.search-bar button i {
    font-size: 22px;
    color: rgba(255, 254, 254, 1);
}



.container {
    margin-top: 5%;
}

.slides-wrapper {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
}

.slider {
    display: flex;
    aspect-ratio: 16 / 7;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a {
    width: 3rem;
    height: .2rem;
    border-radius: 0%;
    background-color: rgba(161, 254, 107, 1);
    opacity: 0.75;
    transition: opacity ease 250s;
}

.slider-nav a:hover {
    opacity: 1;
}


/* Futsal Court  */

.location {

    padding: 3rem 5rem;
    color: aliceblue;
    font-size: 20px;

}

*/ .court-box {
    width: 20rem;
    height: 30rem;
}

.court {
    padding: 0 3rem;
    /* background: red; */
    display: flex;
    position: relative;
    max-width: 100%;
    margin: 2rem 2rem;
    align-items: center;
    justify-content: space-between;
}

.court-img img {
    object-fit: cover;
    padding: .7rem;
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    aspect-ratio: 3 / 1;
}

.court-name {
    margin: 15%;
    color: #ffffff;
    font-size: 25px;
    text-align: center;
}


.court-name:hover {
    color: #121212;
}

.court-box .court .court-img {
    height: 25rem;
    padding: 1rem;
    background: #2B2B2B;
    ;
    outline: var(--outline);
    outline-offset: -1rem;
}

.court .court-img:hover {
    background: rgba(161, 254, 107, 1);
    color: #121212;
}

.near-you-text {
    display: flex;
    padding: 3rem 5rem;
    color: aliceblue;
    font-size: 20px;
    justify-content: space-between;
}

.near-you-container {
    position: relative;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    /* gap: 1.5rem; */
}

.near-you-img img {
    object-fit: cover;
    padding: 0rem 5rem;
    width: 789px;
    height: 545px;
}

.near-you {
    color: wheat;
    /* padding: 0 10rem; */
}

.near-you h1 {
    font-size: 60px;

}

.near-you p {
    font-size: 20px;
}

.near-you-btn a {
    position: relative;
    font-size: 16px;
    color: rgba(23, 23, 23, 1);
    text-decoration: none;
    font-weight: 500;
    margin-right: 30px;

}

.button {
    display: inline-block;
    padding: 10px 10px;
    background-color: rgba(161, 254, 107, 1);
    text-decoration: none;
    border-radius: 10px;
}

.near-you-btn {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    z-index: 100;
}

/* Second img */

.near-you-2 {
    color: wheat;
    padding: 0 0 0 5rem;
}

.near-you-2 h1 {
    font-size: 60px;
}

.near-you-2 p {
    font-size: 20px;
}

.near-you-btn-2 {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    z-index: 100;
}

.button {
    margin-right: 2rem;
}

.near-you-btn-2 a {
    position: relative;
    font-size: 16px;
    color: rgba(23, 23, 23, 1);
    text-decoration: none;
    font-weight: 500;
    margin-right: 30px;

}

.near-you-container-2 {
    position: relative;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    /* gap: 1.5rem; */
}