@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oxygen", sans-serif;
}

/* body {
  background: rgba(23, 23, 23, 1);
} */

.container {
  margin-top: 5%;
}

.slides-wrapper {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
}

.slider {
  display: flex;
  aspect-ratio: 16 / 7;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  overflow: hidden;
}

.slider img {
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
}

.slider-nav {
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.slider-nav a {
  width: 3rem;
  height: 0.2rem;
  border-radius: 0%;
  background-color: rgba(161, 254, 107, 1);
  opacity: 0.75;
  transition: opacity ease 250s;
}

.slider-nav a:hover {
  opacity: 1;
}

/* Futsal Court  */

.location {
  padding: 3rem 5rem;
  color: aliceblue;
  font-size: 20px;
}

.court {
  padding: 0 3rem;
  /* background: red; */
  display: flex;
  position: relative;
  max-width: 100%;
  margin: 2rem 2rem;
  align-items: center;
  justify-content: space-between;
}

.court-img img {
  align-items: center;
  object-fit: cover;
  padding: 0.7rem;
  height: 25rem;
  width: 30rem;
  border-radius: 5%;
}

.court-name {
  /* margin: 15%; */
  color: rgba(161, 254, 107, 1);
  font-size: 25px;
  /* text-align: center; */
}

.court p {
  font-size: 15px;
  color: white;
}

.court-box .court .court-img {
  height: 30rem;
  max-width: 30%;
  padding: 1rem;
  outline: var(--outline);
  outline-offset: -1rem;
}

.welcome {
  display: flex;
  padding: 3rem 5rem;
  color: aliceblue;
  font-size: 20px;
  justify-content: space-between;
}

.court2 {
  margin: 0 0 0 152px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.court2 img {
  width: 30%; /* Adjust the width as needed */
  border-radius: 5%;
}

.court2 p {
  margin-left: 120px;
  width: 40%; /* Adjust the width as needed */
  text-align: center;
  font-size: 20px;
  color: white;
}
