* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: rgba(23, 23, 23, 1);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 12.5%;
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.navbar a {
    position: relative;
    font-size: 16px;
    color: rgba(255, 254, 254, 1);
    text-decoration: none;
    font-weight: 500;
    margin-right: 30px;

}

.navbar a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 2px;
    background: rgba(161, 254, 107, 1);
    border-radius: 5px;
    transform: translateY(10px);
    opacity: 0;
    transition: .5s;
}

.navbar a:hover::after {
    transform: translateY(0);
    opacity: 1;
}

.login-signup a {
    position: relative;
    font-size: 16px;
    color: rgba(255, 254, 254, 1);
    text-decoration: none;
    font-weight: 500;
    margin-right: 30px;

}

.login-signup a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 2px;
    background: rgba(161, 254, 107, 1);
    border-radius: 5px;
    transform: translateY(10px);
    opacity: 0;
    transition: .5s;
}

.login-signup a:hover::after {
    transform: translateY(0);
    opacity: 1;
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    height: 450px;
    background-image: url(Background.jpg);
    background-size: cover;
    background-position: center;
}
.container .content {
    position: absolute;
    top 0;
    right: 0;
    width: 60%;
    height: 100%;
    background: rgba(23, 23, 23, 1);
    padding: 80px;
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.content h1{
    font-size: 40px;
}

.text-sci p{
    font-size: 16px;
    margin: 20px 0;
}

.content{
    position: absolute;
    top: 0;
    right: 0;
    width calc(100% - 58%);
    height: 100%;
}









/* Home Page */
/* 
.logreg-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-100%, -40%);
    width: 45%;
    height: 450px;
    background-image: url(Background.jpg);
    background-size: cover;
    background-position: center;

}

.hero-text .hero h1{
    position: absolute;
    top: 10%;
    left: 150%;
    display: flex;
    



    color: rgba(255, 254, 254, 1);
    font-size: 30px;
}

.hero-text .hero p{
    position: absolute;
    top: 20%;
    left: 150%;
    display: flex;
    color: rgba(255, 254, 254, 1);
    font-size: 20px;
    justify-content: center;
    align-items: center;
} */


 /* .hero{
    position: fixed;
    text-align: right;
    top: ;
    height: 90vh;
    width: 95%;

    
    background-size: cover; 
    background-position: top -25% right 0;
}

.hero p{
    font-size: 20px;
}

.hero h1{
    font-size: 40px;
} */